body > div > div > div > div.panel.panel-default {
    background-color: #44475a;
    border-color: #44475a;
}

body > div > div > div > div.panel.panel-default > div > li {
    background-color: #282a36;
    border-color: #282a36;
}

body > div > div > div > div.panel.panel-default > div > li > a {
    text-align: left;
}
