---
# Empty YAML frontmatter to appease Jeykll.
---

@import "tailwindcss";

@theme {
  --grid-template-columns-21: repeat(21, minmax(0, 1fr));
}

.content-auto {
  content-visibility: auto;
}

.post h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mt-8;
  @apply mb-4;
}

.post h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mt-6;
  @apply mb-4;
}

.post h4 {
  @apply text-lg;
  @apply font-bold;
  @apply mt-4;
  @apply mb-4;
}

.post a {
  @apply underline;
}

.tool-card-link {
  text-decoration: none;
}

.post p {
  @apply pb-4;
}

.post ul {
  @apply grid;
  @apply gap-y-2;
  @apply pb-4;
}

.post ul > li:before {
  content: "—";
  @apply font-bold;
  @apply mr-2;
}

.post ol {
  @apply grid;
  @apply gap-y-2;
  @apply pb-4;
}

.post ol > li {
  @apply list-decimal;
  @apply list-inside;
}

.post ol > li::marker {
  @apply font-bold;
}

.post img {
  @apply max-h-[384px];
  @apply mx-auto;
  @apply mb-4;
}

.post table {
  @apply w-full;
  @apply text-sm;
  @apply border-b;
  @apply border-white/20;
  @apply mb-4;
  @apply w-full;
  @apply table-fixed;
}

.post th {
  @apply font-semibold;
  @apply text-left;
  @apply border-b;
  @apply border-white/20;
  @apply pb-2;
  @apply px-2;
  @apply break-all;
  @apply text-ellipsis;
  @apply overflow-hidden;
  @apply whitespace-nowrap;
}

.post th:first-child {
  @apply pl-0;
}

.post th:last-child {
  @apply pr-0;
}

.post td {
  @apply py-2;
  @apply border-b;
  @apply border-white/10;
}

.post hr {
  @apply border-b;
  @apply border-white/90;
  @apply mb-4;
}

.post blockquote > p {
  @apply border-l-4;
  @apply border-white/10;
  @apply pl-4;
  @apply mb-4;
}

.post kbd>kbd {
  @apply px-1;
  @apply font-mono;
  @apply text-slate-800;
  @apply bg-slate-100;
  @apply rounded-sm;
}

.post code.highlighter-rouge {
  @apply font-mono;
  @apply ring-1;
  @apply ring-white/10;
  @apply bg-slate-800;
  @apply rounded-sm;
  @apply px-1;
}

.post pre.highlight {
  @apply mb-8;
  @apply mt-4;
  @apply font-mono;
  @apply ring-1;
  @apply ring-white/10;
  @apply rounded-sm;
  @apply px-4;
  @apply pt-6;
  @apply pb-4;
  @apply bg-slate-800;
  @apply overflow-x-auto;
}

.post ::-webkit-scrollbar {
  display: none;
}

@import "./dracula.css";