---
title: Kieran Hunt
---

<%= partial "header" %>

<div class="container">
  <h1>
    Kieran Hunt
  </h1>
  <h2>
    Projects
  </h2>
  <div class="project">
    <h3>
      /r/YouTubeHaiku → Twitter
    </h3>
    <%= twitter_link profile: 'rYouTubeHaiku' %>,
    <%= github_link project: { profile: 'KieranHunt', repo: 'YouTubeHaiku_to_Twitter' } %>
  </div>
  <div class="project">
    <h3>
      Dead Wikipedia
    </h3>
    <%= twitter_link profile: 'dead_wikipedia' %>
  </div>
</div>
